/*
CONSTANTS
	ProNWE BLUE - #2f95ea
}

*/

@font-face {
	font-family: pronwe;
	src: url(Exo2-Medium.ttf);
}

.pronwe_Link-small{
	text-decoration:none!important; 
}
.pronwe_Link-small:hover{
    border-bottom:1px dashed #1565C0;
}
.pronwe_background{
	background-color:#2f95ea;
}
.pronwe_color-border-solid-1px{
	border:2px solid #2f95ea;
	border-radius:5px;
}
.pronwe_color{
	color:#2f95ea;
}
a{
	text-decoration:none;
}
ul{
	list-style:none;
}
.btn_area>.btn{ 
	border-radius: 5px; 
	display: block; 
	width: 100%; 
	color: #fff;
	border: 0;
	padding: 0.45em 1.1em; 
	font-size: 1.1em; 
	line-height: 1.52857143; 
	margin:1em auto;
}
